<div mat-dialog-content>
  <div>
    <div class="spanner">
      <p>Paste this portal {{clipData.colName}}:{{clipData.index}}</p>
      <app-canvas [portalRec]="clipData" (ImageDone)="canvas1Done = true"></app-canvas>
      <p>To the location {{data.colName}}:{{data.index}}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="paste(data)">Paste</button>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="clearClipBoard()">Clear Clipboard</button>
  <button mat-button (click)="onCancelClick(data)">Cancel</button>
</div>
