<mat-card class="example-card" class="marginTop">
  <mat-card-header>
    <mat-card-subtitle *ngIf="!showProgress">Upload new image file then Create New Project</mat-card-subtitle>
    <mat-card-subtitle *ngIf="showProgress">Upload In Progress</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button  *ngIf="!newProjectInProgress" class="extendedFab" mat-fab extended (click)="logOut()">
      <mat-icon>logout</mat-icon>
      Log Out to Cancel
    </button>
    <button *ngIf="newProjectInProgress" class="extendedFab" mat-fab extended (click)="logOut()">
      <mat-icon>logout</mat-icon>
      Log Out to Open New Project
    </button>
    <div *ngIf="uploadComplete">
      <p *ngIf="uploadResponse && uploadResponse.status === 'error'">
        {{ uploadResponse.message }}
      </p>
      <p *ngIf="uploadResponse && uploadResponse.status === 'success'">
        target_file: {{ uploadResponse.target_file }}<br>
      </p>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!templateSet" class="newProjButton"
            (click)="setPasscodeTemplate()">Set Passcode Template</button>
    <div *ngIf="templateSet">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input [disabled]="uploadComplete" type="file" name="puzzle_img" (change)="onFileSelect($event)"/>
        <button class="subButton" type="submit"
          [disabled]="uploadComplete || !fileChosen">Upload</button><br>
        <!--<button *ngIf="uploadComplete" class="newProjButton"
                [disabled]="newProjectInProgress"
                (click)="startNewProject()">New Project</button>-->
        <button class="newProjButton"
                [disabled]="newProjectInProgress"
                (click)="startNewProject()">New Project</button>
        <button class="newProjButton"
                [disabled]="newProjectInProgress"
                (click)="startNewProject(true)">New Admin Project</button>
      </form>
    </div>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
