.subButton{
  height: 54px;
  background-color: deeppink;
  border: black solid 2px;
}

input[type="file"]
{
  font-size:24px;
  margin-bottom: 24px;
  margin-top: 24px;
}

button[type="submit"]
{
  font-size:32px;
}

button {
  cursor: pointer;
}

.newProjButton{
  margin-top: 24px;
  font-size:48px;
  height: 54px;
  background-color: lawngreen;
  border: black solid 2px;
}

.example-card {
  margin: 32px;
}

.stndrdChip {
  background-color: cadetblue;
}
