<div *ngIf="portalFrame">
  <h4>Portal:{{ portalFrame.info.index }}: {{ portalFrame.info.label }}</h4>
  <img [src]="url + portalFrame.info.index + '.jpg'"  [alt]="'portal:' + portalFrame.info.index + ' image'"
      width="40%">
  <div>
    <br>
    <div *ngIf="hintMsg.length !== 0">
      <mat-hint class="cautionHint"><strong>{{ hintMsg }}
      </strong></mat-hint>
    </div>
    <mat-form-field [style.width.%]="50" appearance="outline" class="frm">
      <mat-label>{{ getHint(portalFrame.info.type) }}</mat-label>
      <input (ngModelChange)="validate($event, portalFrame.info)"
             matInput
             [type]="portalFrame.info.type === Const.NUMBER_CODE ? 'number' : 'text' "
             [(ngModel)]="label" [disabled]="!portalFrame.canEdit"
             class="charInput" autocomplete="off">
    </mat-form-field>
    <button *ngIf="testDeleteConditions(label, portalFrame.info)"
            (click)="delete(portalFrame,label,ingressName)"
            mat-icon-button color="warn" aria-label="Delete Forever">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button *ngIf="portalFrame.dstToPrtl > Const.CONFIDENCE_GREEN" (click)="toggleEdit(portalFrame)"
            mat-icon-button class="btnSpacingLeft">
      <span class="iconGreen">
        <mat-icon class="icon-display">edit</mat-icon>
      </span>
    </button>
    <div mat-dialog-actions align="end">
      <button *ngIf="isValidChar"
              mat-raised-button color="primary"
              (click)="saveChar(portalFrame, label, ingressName)">Save
      </button>
      <button *ngIf="portalFrame.info.type === Const.GLYPH_CODE
        && !isValidChar && label.length > 0"
              mat-raised-button color="accent"
              (click)="forceSaveGlyph(portalFrame, label, ingressName)">Force Save?
      </button>
    </div>
  </div>
</div>

