.thumbFrame {
  width: fit-content;
  border: black 2px solid;
  border-radius: 4px;
  margin: 8px;
}
.cautionHint {
  background-color: orange;
  width: 90%;
}
.charInput {
  text-overflow-ellipsis: true;
  min-height: 40px;
}
