<p mat-dialog-title>
  <span class="grayTitle">Portal:
    {{ portalInfo.index }}</span>
  <span> {{ portalInfo.label }}</span>
  <span class="grayTitle" *ngIf="portalInfo.AKA"> {{portalInfo.AKA}}</span>
  <span *ngIf="savedUrl" class="lightGrayUrl" [ngStyle]="{'width.px': '250'}"
        (click)="copyToClipBoard()"
        matTooltip="Copy to Clipboard" aria-label="Copy to Clipboard">
      <mat-icon matSuffix>assignment</mat-icon>
    {{ clip(url) }}
  </span>
</p>
<div mat-dialog-content>
  <div *ngIf="!showUrlPage" mat-dialog-actions>
  <span>{{getUrlPrompt()}}
    <button mat-button color="primary" (click)="toggleSetUrl()">
    <mat-icon matSuffix>sentiment_dissatisfied</mat-icon>
    Click Here</button>
  </span>
  </div>
  <div *ngIf="showUrlPage">
    <div *ngIf="showUrlPage" mat-dialog-actions align="end">
      <button *ngIf="this.isValidUrl"
              mat-raised-button color="primary"
              (click)="saveUrl(portalInfo)">Save URL
      </button>
      <button *ngIf="savedUrl" mat-button color="warn" (click)="deleteUrl(portalInfo)">
        <mat-icon matSuffix>delete_forever</mat-icon>
        REMOVE
      </button>
      <button *ngIf="savedUrl" mat-button color="primary" (click)="editUrl()">
        <mat-icon matSuffix>sentiment_dissatisfied</mat-icon>
        EDIT
      </button>
      <button mat-button color="primary" (click)="toggleSetUrl()">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        Close
      </button>
    </div>
    <p class="inputWarning">{{ msg }}</p>
    <mat-form-field [style.width.%]="100" appearance="outline">
      <mat-hint *ngIf="!savedUrl" class="cautionHint"><strong>@{{ingressName}}</strong> please be carefull that the location is correct!</mat-hint>
      <mat-label>Paste portal url Here</mat-label>
      <input (ngModelChange)="validateUrl($event)" matInput [(ngModel)]="url"
             class="charInput" autocomplete="off" [disabled]="savedUrl">
      <mat-icon *ngIf="!savedUrl" matSuffix>cloud_download</mat-icon>
      <mat-icon *ngIf="savedUrl" matSuffix
                (click)="copyToClipBoard()"
                matTooltip="Copy to Clipboard" aria-label="Copy to Clipboard"
      >assignment
      </mat-icon>
    </mat-form-field>
    <div class="verticalSpace"></div>
  </div>
  <span *ngIf="savedUrl">
    <!-- TODO archive Google Maps code for future use
    <button mat-button color="primary" (click)="openGoogleMaps(portalInfo)"
            matTooltip="Open Google Maps for directions to this portal">
      <mat-icon matSuffix>directions_walk</mat-icon>
      Directions
    </button>-->
    <!--<button *ngIf="savedUrl" mat-button color="primary" (click)="openMap(portalInfo)"
          matTooltip="Close Side Bar and Zoom into this portal">
        <mat-icon matSuffix>arrow_left</mat-icon>
      MAP
    </button>-->
  </span>
  <mat-divider></mat-divider>
  <p><br></p>
  <div *ngIf="hintMsg.length !== 0">
    <mat-hint class="cautionHint"><strong>{{hintMsg}}
    </strong></mat-hint>
  </div>
  <mat-form-field [style.width.%]="48" appearance="outline">
    <!--<mat-hint class="cautionHint"><strong>{{hintMsg}}</strong></mat-hint>-->
    <mat-label>{{getHint(portalInfo.type)}}</mat-label>
    <input (ngModelChange)="validate($event, portalInfo)" matInput [(ngModel)]="label"
           class="charInput" autocomplete="off">
  </mat-form-field>
  <button *ngIf="testDeleteConditions(label, portalInfo)"
          (click)="delete(portalInfo, label, ingressName)"
          mat-icon-button color="warn" aria-label="Delete Forever">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
<div mat-dialog-actions align="end">
  <button *ngIf="label !== portalInfo.label && isValidChar && label.length !== 0"
          mat-raised-button color="primary"
          (click)="saveChar(portalInfo, label)">Save
  </button>
  <!--
  <button *ngIf="savedUrl" mat-button color="primary" (click)="openMap(portalInfo)"
          matTooltip="Close Side Bar and Zoom into this portal">
    <mat-icon matSuffix>arrow_right</mat-icon>
    Go to MAP
  </button>-->
  <button mat-button (click)="onCancelClick(portalInfo)">
    <span *ngIf="dirty">Cancel</span>
    <span *ngIf="!dirty">Close</span>
  </button>
</div>

