<p mat-dialog-title>
  <span class="grayTitle">Portal:
    {{ portalInfo.index }} : {{ portalInfo.label }}</span>
  <span *ngIf="savedUrl" class="lightGrayUrl" [ngStyle]="{'width.px': '250'}"
        (click)="copyToClipBoard()"
        matTooltip="Copy to Clipboard" aria-label="Copy to Clipboard">
      <mat-icon matSuffix>assignment</mat-icon>
    {{ clip(url) }}
  </span>
</p>
<div mat-dialog-content>
  <div *ngIf="!showUrlPage" mat-dialog-actions>
  <span>{{getUrlPrompt()}}
    <button mat-button color="primary" (click)="toggleSetUrl()">
    <mat-icon matSuffix>sentiment_dissatisfied</mat-icon>
    Click Here</button>
  </span>
  </div>
  <div *ngIf="showUrlPage">
    <div *ngIf="showUrlPage" mat-dialog-actions align="end">
      <button *ngIf="this.isValidUrl"
              mat-raised-button color="primary"
              (click)="saveUrl(portalInfo)">Save URL
      </button>
      <button *ngIf="savedUrl" mat-button color="primary" (click)="editUrl()">
        <mat-icon matSuffix>sentiment_dissatisfied</mat-icon>
        EDIT
      </button>
      <button mat-button color="primary" (click)="toggleSetUrl()">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        Close
      </button>
    </div>
    <p class="inputWarning">{{ msg }}</p>
    <mat-form-field [style.width.%]="100" appearance="outline">
      <mat-hint *ngIf="!savedUrl" class="cautionHint"><strong>@{{ingressName}}</strong> please be carefull that the location is correct!</mat-hint>
      <mat-label>Paste portal url Here</mat-label>
      <input (ngModelChange)="validateUrl($event, portalInfo)" matInput [(ngModel)]="url"
             class="charInput" autocomplete="off" [disabled]="savedUrl">
      <mat-icon *ngIf="!savedUrl" matSuffix>cloud_download</mat-icon>
      <mat-icon *ngIf="savedUrl" matSuffix
                (click)="copyToClipBoard()"
                matTooltip="Copy to Clipboard" aria-label="Copy to Clipboard"
      >assignment
      </mat-icon>
    </mat-form-field>
    <div class="verticalSpace"></div>
  </div>
  <button *ngIf="savedUrl" mat-fab extended align="end"
          (click)="openGoogleMaps(portalInfo)">Google Map Directions
  </button>
  <mat-divider></mat-divider>
  <p><br></p>
  <div *ngIf="!showUrlPage" mat-dialog-actions>
  <span *ngIf="portalInfo.published">
    <span>To VERIFY </span>
  <span>
    <button mat-button color="primary" (click)="verifyValue(portalInfo)">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    Click Here</button>
  </span>
  </span>
  </div>
  <mat-form-field [style.width.%]="48" appearance="outline">
    <mat-hint class="cautionHint"><strong>{{hintMsg}}</strong></mat-hint>
    <mat-label>Set Character or Gliff Name</mat-label>
    <input (ngModelChange)="validateChar($event, portalInfo)" matInput [(ngModel)]="label"
           class="charInput" autocomplete="off">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button *ngIf="label !== portalInfo.label && isValidChar"
          mat-raised-button color="primary"
          (click)="saveChar(portalInfo)">Save
  </button>
  <button mat-button (click)="onCancelClick(portalInfo)">
    <span *ngIf="dirty">Cancel</span>
    <span *ngIf="!dirty">Close</span>
  </button>
</div>

