agm-map {
  height: 360px;
}

.charInput {
  text-overflow-ellipsis: true;
  min-height: 40px;
  max-width: 20em;
}

.map-form {
  min-width: 400px;
  max-width: 600px;
  width: 100%;
}

.small {
  font-size: smaller;
}

.inputWarning {
  color: tomato;
}

.lightGrayUrl {
  width: 150px;
  /*max-width: 200px;*/
  color: lightgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-small;
  font-family: "Calibri Light";
}

.grayTitle {
  max-width: 200px;
  color: gray;
  font-size: medium;
  font-family: "Calibri Light";
}

.cautionHint {
  background-color: orange;
}

.verticalSpace {
  height: 1em;
}
