<img [src]="src" alt="First Saturday Puzzle Image"
     #myImage (load)="onImageLoad(myImage)" hidden="hidden">
<div>
  <app-file-upload *ngIf="createNewProject"></app-file-upload>
  <div class="header">
  <div class="codeBoxContainer">
      <input (click)="copyToClipBoard()" class="showPointer"
         matTooltip="Copy to Clipboard" type="text" value="{{summary}}"
         [size]="summary.length !== 0 ? summary.length : 1" readonly>
  </div>
  <mat-toolbar color="primary" class="toolbar">
    <span>
      <button *ngIf="authService.afAuth.user"
              class="btnLogout" [style.left.px]="pageXOffset"
              mat-mini-fab aria-label="logout"
              (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </span>
    <div *ngIf="isAdmin">
      <button *ngIf="!validated" class="projButton" mat-fab extended (click)="newFSProject()">
        New Proj.
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Utility Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div *ngIf="validated">
      <button class="toolButton" mat-icon-button (click)="goHome()"
              *ngIf="!isHome" matTooltip="Go to Home Screen">
        <mat-icon>home</mat-icon>
        <span class="tiny">Home</span>
      </button>
      <button class="toolButton" mat-icon-button (click)="openMap()"
              *ngIf="!isMap" matTooltip="Open Google Map">
        <mat-icon>map</mat-icon>
        <span class="tiny">Map</span>
      </button>
      <button class="toolButton" mat-icon-button (click)="fitBounds()"
              *ngIf="isMap" matTooltip="Recenter Map">
        <mat-icon>adjust</mat-icon>
        <span class="tiny">center</span>
      </button>
      <button class="toolButton" mat-icon-button (click)="openLog()"
              *ngIf="!isLog" matTooltip="Open Message Log">
        <mat-icon>list</mat-icon>
        <span class="tiny">Log</span>
      </button>
      <button class="toolButton" mat-icon-button (click)="sendMessage()"
              matTooltip="Chat">
        <mat-icon>chat</mat-icon>
        <span class="tiny">Chat</span>
      </button>
    </div>
  </mat-toolbar>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item [disabled]="!loggedIn"
          (click)="setPortalCount()">
    <mat-icon>format_list_numbered</mat-icon>
    <span>Set Portal Count</span>
  </button>
  <button mat-menu-item [disabled]="!loggedIn"
          (click)="setHdrHeight()">
    <mat-icon>border_top</mat-icon>
    <span>Set Header Height</span>
  </button>
  <button mat-menu-item [disabled]="!loggedIn"
          (click)="setRowHeight()">
    <mat-icon>border_left</mat-icon>
    <span>Set Row Height</span>
  </button>
  <button mat-menu-item [disabled]="!loggedIn"
          (click)="setColumnWidth()">
    <mat-icon>border_right</mat-icon>
    <span>Set Column Width</span>
  </button>
  <button mat-menu-item [disabled]="!loggedIn"
          (click)="setMaxThumbWidth()">
    <mat-icon>border_horizontal</mat-icon>
    <span>Set Thumbnail Width</span>
  </button>
  <button mat-menu-item [disabled]="!loggedIn"
          (click)="setFudgeFactor()">
    <mat-icon>compare_arrows</mat-icon>
    <span>Set Fudge Factor</span>
  </button>
  <!-- Login as admin -->
  <button mat-menu-item (click)="twoFactorAccess()">
    <mat-icon>vpn_key</mat-icon>
    <span>Admin</span>
  </button>
</mat-menu>
<div *ngIf="!validated">
  <button class="extendedFab" mat-fab extended (click)="setIngressName()">
    <mat-icon>vpn_key</mat-icon>
    Set Your Ingress Name
  </button>
</div>
<!-- ////////////////////////// HOME /////////////////////////////////-->
<div class="homeFrame" *ngIf="validated && isHome">
    <div class="imagePage">
      <h1>{{ folder }}</h1>
      <div class="portalFrame" *ngFor="let portalFrame of portalFrames"
           (click)="popUpDialog(portalFrame)">
        <div class="indexWrapper">
          <h1 *ngIf="portalFrame.info.label.length > 0"
              class="indexNumber">{{ portalFrame.info.label }}</h1>
          <button mat-icon-button
                  class="iconBar" *ngIf="hasUrl(portalFrame.info)">
          <span>
            <mat-icon>star_border</mat-icon>
          </span>
          </button>
        </div>
        <app-thumbnail
        [src]="src" [index]="portalFrame.index" [thumbWidth]="500"
            [colHeight]="299" [hdrHeight]="144" [size]="500"
            [leftMargin]="120" [fudgeFactor]="3.5">
        </app-thumbnail>
      </div>
    </div>
    <div *ngIf="false" class="overlay">
      <div class="hdr" [ngStyle]="{'height.px': hdrHeight - 16}">
        <span (click)="openMap()" matTooltip="Open Google Map">
          <button class="backButton" [style.left.px]="pageXOffset"
                  mat-icon-button aria-label="Open Google Map">
            <mat-icon>map</mat-icon>
          </button>
          <button class="vert-align" mat-flat-button>Map</button>
        </span>
        <span (click)="openLog()" matTooltip="Open Log">
          <button [style.left.px]="pageXOffset"
                  mat-icon-button aria-label="Open Log">
            <mat-icon>list</mat-icon>
          </button>
          <button class="vert-align" mat-flat-button>Log</button>
        </span>
      </div>
      <div *ngFor="let portalFrame of portalFrames" class="row"
           [ngStyle]="{'height.px': colHeight}">
        <div *ngIf="colHeight" class="imageWidthClickArea"
             (click)="popUpDialog(portalFrame)"
             [ngStyle]="{'height.px': colHeight-80}">
          <div [ngStyle]="{'height.px': colHeight-80}"
               class="indexWrapper">
            <h1 class="indexNumber">{{ portalFrame.info.label }}</h1>
            <h1 class="indexNmbr">{{ portalFrame.index }}
              <span *ngIf="hasUrl(portalFrame.info)"><mat-icon>map</mat-icon></span></h1>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- ///////////////////////////// MAP ///////////////////////////////////-->
<div *ngIf="validated && isMap">
  <div class="toolBarrPadding"></div>
  <div *ngIf="mapIsLoading">
    <mat-progress-bar *ngIf="mapIsLoading" mode="indeterminate"></mat-progress-bar>
  </div>
  <google-map #map
              [center]="center"
              [width]="mapWidth" [height]="mapHeight"
              [zoom]="zoom" [options]="mapOptions"
              (mapInitialized)="mapInitialized()"
              (zoomChanged)="resizePins(portalFrames)">
    <map-marker #pegMarker="mapMarker" [position]="pegPosition"
                [options]="getPegMarkerOptions(pegMarker)"
                [label]=getShortName()
                (mapClick)="openInfoWindow(pegMarker, null)">
    </map-marker>
    <map-circle
      [center]="pegMarker.getPosition()"
      [radius]="40" [options]="Const.PEG_CIRCLE_OPTIONS">
    </map-circle>
    <map-marker #portalMarker="mapMarker"
                *ngFor="let portalFrame of portalFrames"
                [label]="getLabel(portalFrame.info)"
                [options]="geAndProccessOptons(portalFrame, portalMarker)"
                [position]="portalFrame.info.latLng"
                (mapClick)="openInfoWindow (portalMarker,portalFrame)">
    </map-marker>
    <!--[options]="getAndProcessCircleOps(portalFrame, portalCircle)">-->
    <map-circle #portalCircle="mapCircle"
        *ngFor="let portalFrame of portalFrames"
        [center]="portalFrame.info.latLng"
        [radius]="40" [options]="Const.CIRCLE_OPTIONS">
    </map-circle>
    <map-info-window (closeclick)="infoClosed($event)"
            (domready)="setInfo(currentPortalFrame)">
      <div *ngIf="currentPortalFrame">
        <app-portal-info [portalFrame]="currentPortalFrame"
            [src]="src" [localMetadata]="localMetadata"
            [ingressName]="ingressName" [pegPosition]="pegPosition"
            [map]="map"  (parentFun)="closeInfoWindow($event)">
        </app-portal-info>
        <!-- TODO solve info window jiggle problem before using this
        <button mat-button
                (click)="showStreetview
                (currentPortalFrame.info.latLng, currentPortalFrame.info)">
          Street View
        </button>
        -->
        <!-- TODO iframe embed of streetview 360 image
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!4v1710693246144!6m8!1m7!1sCAoSLEFGMVFpcE5zQ1haR0o5bTJxMmotWEpObFJNdnVYWkVoZ085azFvZXFMZFQw!2m2!1d45.4560438!2d-75.681788!3f297.6851778027556!4f-0.4107078254452716!5f0.7820865974627469" width="500" height="375" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        -->
      </div>
      <div *ngIf="!currentPortalFrame">
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{folder}}</mat-card-title>
              <img mat-card-sm-image-image [src]="Const.URL_RED_PIN" alt="Red Pin" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            Hello {{ ingressName }}; this is where you are!
          </mat-card-content>
        </mat-card>
        <!-- TODO test if this causes the jiggles! -->
        <button mat-button
                (click)="showStreetview(pegPosition, null)">
          Street View
        </button>
      </div>
      <div mat-dialog-actions align="end">
        <button mat-button (click)="closeWindow($event)">
          Close
        </button>
      </div>
    </map-info-window>
  </google-map>
</div>
<!-- ///////////////////////////////// LOG ///////////////////////////-->
<div *ngIf="validated && isLog">
  <div class="toolBarrPadding"></div>
  <mat-list>
    <cdk-virtual-scroll-viewport class="log-viewport"
      appendOnly itemSize="200" [ngStyle]="{'width.px': logWidth,
      'height.px': logHeight}">
    <mat-list-item *ngFor="let msgData of logMessages.messages">
      <span matListItemIcon>
        <button mat-icon-button (click)="action(msgData)"
                [color]="getAccent(msgData)" aria-label="Example icon button with a heart icon">
          <mat-icon>play_circle_filled</mat-icon>
        </button>
      </span>
      <span matListItemTitle>Time {{msgData.time}}
        <span *ngIf="msgData.portalIndex"> - Portal:{{msgData.portalIndex}}</span>
      </span>
      <span matListItemLine class="msgRow">{{msgData.msg}}</span>
    </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-list>
</div>
