body {
  margin: 0;
}
.example-spacer {
  flex: 1 1 auto;
}
.image_wrapper {
  position: relative;
  overflow: clip;
}
img {
  pointer-events: none;
}
.overlay {
  position: absolute;
  left: 0;
  top: 96px;
}
.row {
  border-top: black solid 1px;
}
.indexWrapper{
  cursor:pointer;
}
.indexNmbr{
  margin-left: 24px;
  color: darkgray;
}
.indexNumber{
  margin-left: 8px;
  margin-top: 8px;
  border: black solid 2px;
  /*background-color: rgba(0,0,0,0.2);*/
  min-width: 24px;
  min-height: 24px;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  padding: 12px;
  display: inline-block;
  font-size: 36px;
  text-align: center;
  color: red;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.label{
  width: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
}
.projButton {
  margin-left: 32px;
  margin-right: 24px;
}
.extendedFab{
  margin-top: 176px;
  margin-left: 100px;
}
.imageWidthClickArea {
  margin-top: 20px;
  margin-bottom: 40px;
}
.showHideMap{
  padding: 40px;
}
input[type="text"]
{
  font-size:24px;
  color: gainsboro;
  margin-left: 4px;
}
.tiny {
  padding-left: 14px;
  font-size:12px;
  color: gainsboro;
}
.inline {
  vertical-align:middle;
}
.thumb {
  border: black 1px solid;
}
.showPointer {
  cursor: pointer;
}
.backButton{
  margin-left: 24px;
}
.vert-align {
  margin-bottom: 10px;
}
.button-bar {
  border: black solid 1px;
  background-color: gainsboro;
}
.hdr {
  background-color: lightgray;
  padding: 8px;
}
.logList {

}
.log-viewport {
  border: 1px solid black;
}
.msgRow {
  overflow: auto;
  text-wrap:normal;
}
.header{
  position:fixed;
  top: 0;
  left:0;
  right:0;
  z-index: 1000;
}
.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.marginTop {
  margin-top: 96px;
}
.codeBoxContainer {
  padding-left: 24px;
  background-color: white;
}
