body {
  margin: 0;
}
.example-spacer {
  width: 40px;
}
img {
  pointer-events: none;
}
.row {
  border-top: black solid 1px;
}
.btnBar {
  position: absolute;
  top: 75%;
  left: 50%;
}
.btnSpacing {
  margin-left: 24px;
}
.btnSpacingLeft {
  margin-left: 0;
}
.icon-display {
  transform: scale(2);
}
.runner-button {
  margin-top: 18px;
}
.iconGreen {
  border: black solid 4px;
  background-color: rgba(158,165,169,0.5);
  min-width: 24px;
  min-height: 24px;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  padding: 12px;
  color: lawngreen;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.indexWrapper{
  position: absolute;
  top: 8px;
  left: 8px;
  height: fit-content;
  /*background-color: gainsboro;*/
}
.indexNmbr{
  margin-left: 24px;
  color: darkgray;
}
.indexNumber{
  margin-left: 4px;
  margin-top: 4px;
  border: black solid 4px;
  background-color: rgba(158,165,169,0.5);
  min-width: 24px;
  min-height: 24px;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  padding: 12px;
  display: inline-block;
  font-size: 48px;
  /*text-align: center;*/
  color: lawngreen;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.infoFrame {
  width: fit-content;
  padding: 4px;
}
.portalFrame {
  position: relative;
  border-radius: 9px;
  border: black solid 2px;
  margin-top: 2px;
  margin-left: 0;
  margin-right: 2px;
  /*margin-top: 8px;*/
  padding: 0;
  width: fit-content;
  background-color: white;
}
.pictureFrame {
  margin: 8px;
  border: black solid 1px;
}
.label{
  width: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: white;
}
.projButton {
  margin-left: 32px;
  margin-right: 24px;
}
.extendedFab{
  margin-top: 176px;
  margin-left: 100px;
}
.imageWidthClickArea {
  margin-top: 20px;
  margin-bottom: 40px;
}
.showHideMap{
  padding: 40px;
}
input[type="text"]
{
  font-size:24px;
  color: gainsboro;
  margin-left: 4px;
}
.tiny {
  padding-left: 6px;
  font-size:12px;
  color: gainsboro;
}
.inline {
  vertical-align:middle;
}
.showPointer {
  cursor: pointer;
}
.backButton{
  margin-left: 24px;
}
.vert-align {
  margin-bottom: 10px;
}
.button-bar {
  border: black solid 1px;
  background-color: gainsboro;
}
.log-viewport {
  border: 1px solid black;
}
.msgRow {
  overflow: auto;
  text-wrap: auto;
}
.header{
  position:fixed;
  top: 0;
  left:0;
  right:0;
  z-index: 1000;
}
.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.codeBoxContainer {
  padding-left: 24px;
  background-color: white;
}
.toolbar {
  width: 100% !important;
}
.overlay {
  position: absolute;
  left: 0;
  top: 96px;
  width: 100%;
  border-right: black solid 1px;
}
.zoom-button-for-map {
  padding: 6px;
  position: absolute;
  left: 60%;
  top: 100px;
  border: black solid 1px;
  font-size:18px;
  background-color:  rgba(255,255,255,0.64);
  cursor: pointer;
}
.side-bar-button-for-map {
  padding: 6px;
  position: absolute;
  left: 8px;
  top: 152px;
  border: black solid 1px;
  font-size:18px;
  background-color:  rgba(255,255,255,0.64);
  cursor: pointer;
}
.side-bar-button {
  position: absolute;
  /*left: 60%;*/
  top: 152px;
}
.mapFrame {
  margin-top: 96px;
}
.hdr {
  background-color: lightgray;
  padding-top: 8px;
  padding-bottom: 8px; /*TODO NOTE changing these values will affect magic number*/
  width: 100%;
}
.imgClip {
  margin-top: 96px;
}
.imagePage {
  position: relative;
  margin-top: 96px;
  width: fit-content;
  /*height: 3508px;*/
  height: fit-content;
  background-color: black;
  color: lawngreen;
}
.homeFrame{
  /*width: 100%;*/
}
.pushDownBelowToolBar {
  margin-top: 98px;
}
.toolButton{
  margin-right: 52px;
}
.pushDownBelowToolBar {
  margin-top: 98px;
}
.toolBarrPadding {
  height: 94px;
  background-color: black;
}
.material-symbols-outlined {
   font-variation-settings:
     'FILL' 0,
     'wght' 200,
     'GRAD' -25,
     'opsz' 48
 }
.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
