<img [src]="src" alt="First Saturday Puzzle Image"
     #myImage (load)="onImageLoad(myImage)" hidden="hidden">
<div>
  <app-file-upload *ngIf="createNewProject"></app-file-upload>
  <div class="header">
  <div class="codeBoxContainer">
      <input (click)="copyToClipBoard()" class="showPointer"
         matTooltip="Copy to Clipboard" type="text" value="{{summary}}"
         [size]="summary.length !== 0 ? summary.length : 1" readonly>
  </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="!loggedIn"
              (click)="setPortalCount()">
        <mat-icon>format_list_numbered</mat-icon>
        <span>Set Portal Count</span>
      </button>
      <button mat-menu-item [disabled]="!loggedIn"
              (click)="setHdrHeight()">
        <mat-icon>border_top</mat-icon>
        <span>Set Header Height</span>
      </button>
      <button mat-menu-item [disabled]="!loggedIn"
              (click)="setLeftMargin()">
        <mat-icon>border_right</mat-icon>
        <span>Set Left Margin</span>
      </button>
      <button mat-menu-item [disabled]="!loggedIn"
              (click)="setRowHeight()">
        <mat-icon>border_left</mat-icon>
        <span>Set Row Height</span>
      </button>
      <button mat-menu-item [disabled]="!loggedIn"
              (click)="setThumbHeight()">
        <mat-icon>border_left</mat-icon>
        <span>Set Thumb Height</span>
      </button>
      <button mat-menu-item [disabled]="!loggedIn"
              (click)="setThumbWidth()">
        <mat-icon>border_horizontal</mat-icon>
        <span>Set Thumb Width</span>
      </button>
      <!--
      <button mat-menu-item [disabled]="!loggedIn"
              (click)="setThumbSize()">
        <mat-icon>border_right</mat-icon>
        <span>Set Thumb Size (%)</span>
      </button>-->
      <button mat-menu-item [disabled]="!loggedIn"
              (click)="setFudgeFactor()">
        <mat-icon>compare_arrows</mat-icon>
        <span>Set Fudge Factor</span>
      </button>
      <!-- Login as admin -->
      <button mat-menu-item (click)="twoFactorAccess()">
        <mat-icon>vpn_key</mat-icon>
        <span>Admin</span>
      </button>
    </mat-menu>
    <mat-toolbar color="primary" class="toolbar">
    <span>
      <button *ngIf="authService.afAuth.user"
              class="btnLogout" [style.left.px]="pageXOffset"
              mat-mini-fab aria-label="logout"
              (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </span>
      <span>W:{{imagePageWidth}} w: {{w}}</span>
    <div *ngIf="isAdmin">
      <button *ngIf="!validated" class="projButton" mat-fab extended (click)="newFSProject()">
        New Proj.
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Utility Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div *ngIf="validated">
      <button class="toolButton" mat-icon-button (click)="goHome()"
              *ngIf="!isHome" matTooltip="Go to Home Screen">
        <mat-icon>home</mat-icon>
        <span class="tiny">Home</span>
      </button>
      <button class="toolButton" mat-icon-button (click)="openLog()"
              *ngIf="!isLog" matTooltip="Open Message Log">
        <mat-icon>list</mat-icon>
        <span class="tiny">Log</span>
      </button>
      <button class="toolButton" mat-icon-button (click)="sendMessage()"
              matTooltip="Chat">
        <mat-icon>chat</mat-icon>
        <span class="tiny">Chat</span>
      </button>
    </div>
  </mat-toolbar>
  </div>
</div>
<div *ngIf="!validated">
  <button class="extendedFab" mat-fab extended (click)="setIngressName()">
    <mat-icon>vpn_key</mat-icon>
    Set Your Ingress Name
  </button>
</div>
<mat-drawer-container autosize *ngIf="validated && isHome">
  <!-- //////////////////////// SIDE BAR /////////////////////////////////-->
  <mat-drawer #drawer (closed)="drawerClosed()"
             (opened)="drawerOpened()" class="example-sidenav" mode="side">
      <div #imagePage class="imagePage">
        <!--<h1>{{ folder }}</h1>-->
        <div class="portalFrame" *ngFor="let portalFrame of portalFrames">
          <div class="indexWrapper">
            <h1 *ngIf="portalFrame.info.label.length > 0"
                class="indexNumber">{{ portalFrame.info.label }}</h1>
          </div>
          <div class="btnBar">
            <button (click)="popUpDialog(portalFrame)"
                    mat-icon-button class="btnSpacingLeft">
              <span class="iconGreen">
                <mat-icon class="icon-display">edit</mat-icon>
              </span>
            </button>
            <button *ngIf="hasUrl(portalFrame.info)"
                    (click)="closeSideBarAndZoomToPortal(portalFrame.info)"
                    mat-icon-button class="btnSpacing">
              <span class="iconGreen">
                <mat-icon  class="icon-display">directions_run</mat-icon>
              </span>
            </button>
          </div>
          <app-thumbnail
            [src]="src" [index]="portalFrame.index"
            [thumbWidth]="thumbWidth/imgScale"
            [thumbHeight]="thumbHeight/imgScale"
            [hdrHeight]="hdrHeight/imgScale"
            [imgWidth]="width/imgScale"
            [leftMargin]="lefMargin/imgScale"
            [fudgeFactor]="fudgeFactor/imgScale">
          </app-thumbnail>
        </div>
      </div>
    <div *ngIf="imagePageWidth" class="side-bar-button" matTooltip="Close Side Bar"
         [style.left.px]="buttonOffset"> <!-- 472-->
      <button (click)="drawer.toggle()"
        mat-fab color="primary" aria-label="close sidebar">
        <mat-icon>arrow_left</mat-icon>
      </button>
    </div>
  </mat-drawer>
<!-- ///////////////////////////// MAP ///////////////////////////////////-->
  <div>
  <div class="toolBarrPadding"></div>
  <div *ngIf="mapIsLoading">
    <mat-progress-bar *ngIf="mapIsLoading" mode="indeterminate"></mat-progress-bar>
  </div>
  <google-map #map
              [center]="center"
              (centerChanged)="getCenter()"
              [width]="mapWidth" [height]="mapHeight"
              [zoom]="zoom" [options]="mapOptions"
              (mapInitialized)="mapInitialized()"
              (zoomChanged)="resizePins(portalFrames)">

    <!-- [options]="setRendererOptions()" -->
    <map-directions-renderer #renderer *ngFor="let direction of directions"
      [directions]="direction" [options]="Const.RENDER_OPTIONS" >
    </map-directions-renderer>
    <!--</map-directions-renderer>-->
    <map-marker #pegMarker="mapMarker" [position]="pegPosition"
                [options]="getPegMarkerOptions(pegMarker)"
                (mapClick)="reCenterRoute(directions, destination)">
    </map-marker>
    <map-circle
      [center]="pegMarker.getPosition()"
      [radius]="40" [options]="Const.PEG_CIRCLE_OPTIONS">
    </map-circle>

    <!--[options]="getAndProccessOptons(portalFrame, portalMarker)"-->
    <!--[label]="portalFrame.info.index.toString()"-->
    <map-marker #portalMarker="mapMarker"
                *ngFor="let portalFrame of portalFrames"
                [label]="portalFrame.iconLabel"
                [options]="portalFrame.opts"
                [position]="portalFrame.info.latLng"
                (mapClick)="openInfoWindow (portalMarker,portalFrame)">
    </map-marker>
    <map-circle #portalCircle="mapCircle"
        *ngFor="let portalFrame of portalFrames"
        [center]="portalFrame.info.latLng"
        [radius]="40" [options]="Const.CIRCLE_OPTIONS">
    </map-circle>
    <map-info-window (closeclick)="infoClosed()"
            (domready)="setInfo(currentPortalFrame)">
      <div class="infoFrame">
        <div *ngIf="currentPortalFrame">
          <app-portal-info [portalFrame]="currentPortalFrame"
            [src]="src" [localMetadata]="localMetadata"
            [imgWidth]="width" [infoScale]="infoScale"
            [ingressName]="ingressName" [pegPosition]="pegPosition"
            [map]="map"  (parentFun)="closeInfoWindow($event)">
          </app-portal-info>
          <!-- TODO solve info window jiggle problem before using this
          <button mat-button
                  (click)="showStreetview
                  (currentPortalFrame.info.latLng, currentPortalFrame.info)">
            Street View
          </button>
          -->
          <!-- TODO iframe embed of streetview 360 image
          <div>
            <iframe src="https://www.google.com/maps/embed?pb=!4v1710693246144!6m8!1m7!1sCAoSLEFGMVFpcE5zQ1haR0o5bTJxMmotWEpObFJNdnVYWkVoZ085azFvZXFMZFQw!2m2!1d45.4560438!2d-75.681788!3f297.6851778027556!4f-0.4107078254452716!5f0.7820865974627469" width="500" height="375" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          -->
        </div>
        <div *ngIf="!currentPortalFrame">
          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{folder}}</mat-card-title>
                <img mat-card-sm-image-image [src]="Const.URL_SMURF_GIF" alt="Red Pin" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              Hello {{ ingressName }}; this is where you are!
            </mat-card-content>
          </mat-card>
          <!-- TODO test if this causes the jiggles! YES it does -->
          <!--<button mat-button
                  (click)="showStreetview(pegPosition,null, heading)">
            Street View
          </button>-->
        </div>
        <div mat-dialog-actions align="start">
          <button *ngIf="currentPortalFrame && !currentPortalFrame.isTarget"
                  (click)="drawDirectionsTo(currentPortalFrame)"
                  mat-icon-button>
              <span class="iconGreen">
                <mat-icon  class="icon-display">directions_run</mat-icon>
              </span>
          </button>
        </div>
        <div mat-dialog-actions align="end">
          <button mat-button (click)="closeWindow()">
            Close
          </button>
        </div>
      </div>
    </map-info-window>
  </google-map>
    <div  *ngIf="!drawer.opened">
      <div (click)="drawer.toggle()"
            matTooltip="Open Side Bar to SET locations"
            class="side-bar-button-for-map">
        <button
          mat-mini-fab color="primary" aria-label="close sidebar">
          <mat-icon>arrow_right</mat-icon>
        </button>
        <span>&nbsp;Portal List</span>
      </div>
      <div (click)="fitBounds()"
            matTooltip="Center the map to contain all locations"
            class="zoom-button-for-map">
        <button
          mat-mini-fab color="primary" aria-label="Center the Map">
          <mat-icon>adjust</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-drawer-container>
<!-- ///////////////////////////////// LOG ///////////////////////////-->
<div *ngIf="validated && isLog">
  <div class="toolBarrPadding"></div>
  <mat-list>
    <cdk-virtual-scroll-viewport class="log-viewport"
      appendOnly itemSize="200" [ngStyle]="{'width.px': logWidth,
      'height.px': logHeight}">
    <mat-list-item *ngFor="let msgData of logMessages.messages">
      <span matListItemIcon>
        <button mat-icon-button (click)="action(msgData)"
                [color]="getAccent(msgData)" aria-label="Example icon button with a heart icon">
          <mat-icon>play_circle_filled</mat-icon>
        </button>
      </span>
      <span matListItemTitle>Time {{msgData.time}}
        <span *ngIf="msgData.portalIndex"> - Portal:{{msgData.portalIndex}}</span>
      </span>
      <span matListItemLine class="msgRow">{{msgData.msg}}</span>
    </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-list>
</div>



<!-- ///////////////////// CODE STORAGE OBSOLITE ////////////// -->
<!--<div *ngIf="false" class="overlay">
    <div class="hdr" [ngStyle]="{'height.px': hdrHeight - 16}">
      <span (click)="openMap()" matTooltip="Open Google Map">
        <button class="backButton" [style.left.px]="pageXOffset"
                mat-icon-button aria-label="Open Google Map">
          <mat-icon>map</mat-icon>
        </button>
        <button class="vert-align" mat-flat-button>Map</button>
      </span>
      <span (click)="openLog()" matTooltip="Open Log">
        <button [style.left.px]="pageXOffset"
                mat-icon-button aria-label="Open Log">
          <mat-icon>list</mat-icon>
        </button>
        <button class="vert-align" mat-flat-button>Log</button>
      </span>
    </div>
    <div *ngFor="let portalFrame of portalFrames" class="row"
         [ngStyle]="{'height.px': colHeight}">
      <div *ngIf="colHeight" class="imageWidthClickArea"
           (click)="popUpDialog(portalFrame)"
           [ngStyle]="{'height.px': colHeight-80}">
        <div [ngStyle]="{'height.px': colHeight-80}"
             class="indexWrapper">
          <h1 class="indexNumber">{{ portalFrame.info.label }}</h1>
          <h1 class="indexNmbr">{{ portalFrame.index }}
            <span *ngIf="hasUrl(portalFrame.info)"><mat-icon>map</mat-icon></span></h1>
        </div>
      </div>
    </div>
</div>-->
